.header {
  display: flex;
  width: 100%;
}

.Logo {
  font-size: 18px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__item {
  margin: 0 25px;
}

.header__link_dark {
  color: var(--tui-text-01);
}

.active {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  transition: background-size .3s;
}