<form [formGroup]="testForm" class="b-form">
  <div>
    <tui-input class="b-form__input" formControlName="userEmail">
      Шаблон названия сделки <input tuiTextfield />
    </tui-input>
  </div>
  <tui-text-area class="tui-space_vertical-4" formControlName="testValue">Шаблон примечания</tui-text-area>
  <tui-input tuiTextfieldSize="m" class="b-form__input">
    ---- <input tuiTextfield />
  </tui-input>
  <button tuiButton size="m" class="tui-space_vertical-4" type="submit">Добавить условие для распределения</button>

  <tui-input tuiTextfieldSize="m" class="b-form__input">
    Этап воронки - создан заказ <input tuiTextfield />
  </tui-input>
  <tui-input tuiTextfieldSize="m" class="b-form__input">
    Этап воронки - частично оплачен <input tuiTextfield />
  </tui-input>
  <tui-input tuiTextfieldSize="m" class="b-form__input">
    Этап воронки - полностью оплачен <input tuiTextfield />
  </tui-input>
  <button tuiButton size="m" class="tui-space_vertical-4" type="submit">Сохранить</button>
  <button tuiButton size="m" appearance="accent" class="tui-space_vertical-4 tui-space_left-4"
    type="reset">Отмена</button>
</form>
<script src="./settings-field-payment.component.js"></script>