<div>
  <h3 class="tui-form__header tui-form__header_margin-top_none">Основные настройки Bitrix24</h3>
  <form>
    <p class="tui-text_body-xl">Если несколько проектов, проверять по полю</p>
    <tui-input class="tui-form__row" formControlName="userEmail">
      Поле в Bitrix <input tuiTextfield />
    </tui-input>
    <tui-input class="tui-form__row" formControlName="userToken">
      Значение поля <input tuiTextfield />
    </tui-input>
    <p class="tui-text_body-xl">Распределение сделок по менеджерам</p>
    <tui-input class="tui-form__row" formControlName="userEmail">
      Выбрать менеджера <input tuiTextfield />
    </tui-input>
    <button tuiButton size="m" class="tui-space_vertical-4" type="submit">Сохранить</button>
    <button tuiButton size="m" appearance="accent" class="tui-space_left-3 tui-space_vertical-4"
      type="reset">Отмена</button>
  </form>
</div>