.example-viewport {
  height: 300px;
  max-width: 100%;
  background-color: #ededed;
}

.example-item {
  height: 50px;
  cursor: pointer;
  max-width: 53.9rem;
  margin: 0 0 10px 0;
}

.alert {
  margin: 0 0 0 45px;
  padding: 2px;
  border-radius: 5px;
  background-color: #4ac99b;
}

.template-container {
  z-index: 10 !important;
}

.t-wrapper {
  z-index: 10 !important;
}